@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #000;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.miniScore {
    color: white;
}

span {
    user-select: none;
}

.scoreBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    text-align: center;
    width: 50%;
    height: 250px;
    background: #ffffff;
    font-size: 2em;
    transform: translate(-50%, -50%) scale(0);
    z-index: -11;
    opacity: 0;
    transition: .4s;
}

.scoreBoard.shown {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    z-index: 1;
}

.scoreBoard h1 {
    margin: 0;
}

.scoreBoard button {
    width: 70%;
    height: 50px;
    padding: 0 10px;
    background: #14e2d9;
    border-radius: 500px;
    outline: none;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.scoreBoard button:hover {
    background: dodgerblue;
}
